*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
    padding: 0 10%;
    box-shadow: 0 0 20px 9px #244cff34;
    border-radius: 30px;
    width: 90%;
    margin: 15px auto;
}
.logo{
    width: 100px;
    cursor: pointer;
    margin-left: -50px;
}
.toggle-button{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    border-radius: 30px;
    outline: none;
    position: relative;
}
.toggle-button:hover{
    background: linear-gradient(to right,#0231ff9a,#5817d14f );
}

#search{
    margin-left: 40px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 400px;
    margin-left: 40px;
  }
  .search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
  }
  .search {
    border: 1px;
    border-radius: 30px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #244cff34;
  }
  .button-box{
      display: flex;
  }
  .dropdown.active > .toggle-button, .toggle-button:hover{
    background: linear-gradient(to right,#0231ff9a,#5817d14f )
  }
  .search:hover, .search:focus {
    background: linear-gradient(to right,#0231ff9a,#5817d14f );
  }
  .dropdown{
      position: relative;
  }
  .dropdown-menu{
      position: absolute;
      left: 0;
      top:calc(100% + 25rem);
      background-color: white;
      padding: .75rem;
      border-radius: .25rem;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
      opacity: 0;
      /*transform: translateY(-10px);*/
      /*transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;*/
      pointer-events: none;
  }
  .dropdown.active > .toggle-button + .dropdown-menu{
      opacity: 1;
      transform: translateY(15px);
      pointer-events: auto;
  }
